node_modules/
.idea/
npm-debug.log
.vscode/
logs/
.DS_Store
*.log
*.map
dist
TODO
__queries.sql
local-files/
yarn.lock
package-lock.json
**/cypress/screenshots
**/cypress/videos
static
configs/config.js
configs/adpushup.js/config.js
*/mochawesome-report
*/reports
cypress-tests-report.json
mochawesome-report
cypress
package.json
package-lock.json